<h1>Admin::Dashboard#show</h1>

<button style="margin: 5px" class="btn btn-primary" type="button" disabled>
  Product Count: <span class="badge"><%= @product_count %></span>
</button>
<br>
<button style="margin: 5px" class="btn btn-primary" type="button" disabled>
  Category Count: <span class="badge"><%= @category_count %></span>
</button>
<br>

<button style="margin: 5px; color: white;" class="btn btn-success" type="button">
<%= link_to 'Product Admin List', [:admin, :products] %>
</button>
